@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #4daf54;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    height: 100vh;
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background-color: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}

.card__heart,
.card__cart {
    position: absolute;
    font-size: 25px;
    left: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 1;
}

.card__cart {
    left: unset;
    right: 20px;
}

.card__img {
    width: 90%;
    transition: 0.75s;
}

.card__img img {
    width: 100%;
    object-fit: cover;
}

.card:hover .card__img {
    transform: translateY(-90px) rotate(-20deg);
}

.card__price,
.card__titile {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.card__titile {
    color: var(--primary-color);
}

.card:hover .card__price {
    transform: translate(-116px, -70px);
}

.card:hover .card__titile {
    transform: translate(-40px, -70px);
} 

.card__color,
.card__size {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card__size h3,
.card__color h3 {
    margin-right: 12px;
}

.card__size span {
    padding: 1px 10px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
}

.card__size {
    margin-top: 150px;
}

.card__color span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.card__color--green {
    background: green;
}

.card__color--red {
    background: red;
}

.card__color--black {
    background: black;
}

.card__action button {
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.25s;
}

.card__action button:hover {
    transform: scale(0.9);
}

.card__action,
.card__color,
.card__size {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s 0.25s; /* delay */
}

.card:hover .card__action,
.card:hover .card__color,
.card:hover .card__size {
    visibility: visible;
    opacity: 100;
}

.card:hover .card__size  {
    margin-top: -30px;
}

